.alignPerfil{
    display: flex;
    justify-content: center;

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1410px;
        width: 100%;
        margin: 40px 0;
    }

    input {
        width: 80%;
        flex: 1;
        padding: 15px;
        border: 1px solid #DDD;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        font-weight: 600;
    }
}